body,
html {
	font-family: var(--poppinsFont);
	font-weight: 400;
	color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--poppinsFont);
	font-weight: 600;
}

a {
	color: inherit;
	&:hover {
		color: inherit;
	}
}
