// header to style

.header-top {
	padding: 10px 60px;
	.header-widget {
		ul {
			display: flex;
			justify-content: end;
			align-items: center;
			li + li {
				margin-left: 50px;
			}
		}
	}
}

.main-header {
	padding: 0 60px;
	background: #e37706;
}
