// header to style

.header-top {
	padding: 10px 60px;
	.header-widget {
		ul {
			display: flex;
			justify-content: end;
			align-items: center;
			li + li {
				margin-left: 50px;
			}
		}
		p {
			font-size: 12px;
			font-weight: 600;
		}
	}
}
.logo {
	font-size: 25px;
	font-weight: 800;
	color: var(--white);
}
.main-header {
	padding: 0 60px;
	background: var(--themeColor);

	.nav-menu {
		justify-content: flex-end;
		li {
			margin-right: 50px;
		}
	}
	.nav-item {
		.nav-link {
			color: var(--white);
		}
	}
}
