/* ===================================
Project Name 	:   
File 			:  CSS Base
Version 		:  1.0;
Author 			:  
Developer:		:  

=====================================*/
/* ==================================
CSS table Of content

    01. Base style
    02. Typography style

=====================================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --poppinsFont: 'Poppins', sans-serif;
  --themeColor: #e37706;
  --textColor: #1a1a1a;
  --white: #ffffff;
}

/* ----------------
    01. Reset/normalize
-------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------
    01. Base style
-------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* ---------------
    02. Typography style
 ------------------*/
body,
html {
  font-family: var(--poppinsFont);
  font-weight: 400;
  color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppinsFont);
  font-weight: 500;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

/* ---------------
     02. Buttons style
 ------------------*/
.btn {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  background: var(--themeColor);
  padding: 0 30px;
  border-radius: 0;
  border: 2px solid var(--themeColor);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: var(--themeColor);
  background: transparent;
}

.btn.btn-white {
  background: var(--white);
  color: var(--themeColor);
  border-radius: 6px;
}

.btn.btn-round {
  border-radius: 40px;
}

/* ---------------
     03. Header style
 ------------------*/
.header-top {
  padding: 10px 60px;
}

.header-top .header-widget ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .header-widget ul li + li {
  margin-left: 50px;
}

.header-top .header-widget p {
  font-size: 12px;
  font-weight: 600;
}

.logo {
  font-size: 25px;
  font-weight: 800;
  color: var(--white);
}

.main-header {
  padding: 0 60px;
  background: var(--themeColor);
}

.main-header .nav-menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-header .nav-menu li {
  margin-right: 50px;
}

.main-header .nav-item .nav-link {
  color: var(--white);
}

/* ---------------
     04. Hero style
 ------------------*/
.hero-area {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.hero-content h4 {
  font-size: 20px;
  font-weight: 700;
  color: var(--themeColor);
  margin-bottom: 15px;
  line-height: 155.2%;
}

.hero-content h2 {
  font-size: 50px;
  line-height: 155.2%;
  margin-bottom: 25px;
  font-weight: 700;
  width: 90%;
}

.hero-content p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 50px;
  line-height: 200%;
  width: 90%;
}

.bg-shape .shape-1 {
  width: 100%;
  position: absolute;
  bottom: -180px;
  z-index: -1;
  left: 0;
}

.bg-shape .shape-1 img {
  width: 100%;
}

.bg-shape .shape-2 {
  position: absolute;
  width: 100%;
  bottom: -200px;
  right: -260px;
  z-index: -2;
}

.bg-shape .shape-2 img {
  width: 100%;
}

/* ---------------
    04. Footer style
------------------*/
.footer-area {
  background: #1b1b1b;
  color: #fff;
}

.footer-top {
  padding: 80px 0 60px 0;
}
/*# sourceMappingURL=style.css.map */